@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'keen-slider/keen-slider.min.css';


/* Custom styles */
html, body {
  height: 100%;
  /* Asegura que el html y body ocupen todo el alto */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Evitar desbordamiento horizontal */
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: #F5F5F5;
  /* Fondo base */
  color: #000000;
  /* Texto oscuro por defecto */
}

/* Estilos para el modo oscuro */
.dark html {
  background-color: #2D3748;
  /* Fondo oscuro */
}

.dark body {
  background-color: #2D3748;
  /* Fondo oscuro */
  color: #f7fafc;
  /* Texto claro en modo oscuro */
}

main {
  flex-grow: 1;
  /* Hace que el main ocupe el espacio restante */
  overflow-x: hidden;
  /* Evitar desbordamiento horizontal en el main */
}

/* Esta configuración es para forzar el fondo blanco y el color de texto negro 
   en inputs, textareas y selects que el navegador completa automáticamente (autofill), 
   ya que algunos navegadores aplican un fondo celeste por defecto. */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

@layer utilities {
  .max-h-2-3-screen {
    max-height: 66.666vh;
  }
}

/* Estilos de FullCalendar en modo oscuro */
.dark .fc {
  --fc-page-bg-color: #1a202c;
  /* Fondo oscuro */
  --fc-neutral-bg-color: #2d3748;
  /* Celdas vacías */
  --fc-border-color: #4a5568;
  --fc-button-bg-color: #4a5568;
  --fc-button-border-color: #4a5568;
  --fc-button-hover-bg-color: #2c5282;
  --fc-button-text-color: #e2e8f0;
  --fc-today-bg-color: #2c528233;
  --fc-event-bg-color: #5a7d5a;
  /* Tu color "accent" */
  --fc-event-text-color: #ffffff;
  --fc-now-indicator-color: #e53e3e;
}

/*Evita que el autocompletado del navegador (Chrome) aplique fondo blanco y texto negro 
  en inputs al usar modo oscuro. Esta regla fuerza el fondo y texto adecuados en modo dark.*/
.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill,
.dark select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important;
  /* bg-gray-800 */
  -webkit-text-fill-color: #f9fafb !important;
  /* text-white */
  caret-color: #f9fafb;
  transition: background-color 5000s ease-in-out 0s;
}